* {
    margin: 0;
    padding: 0;
    /* background-color:antiquewhite; */
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url("bilder/bakgrunnfjell.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    /* min-height: 100vh; */
    width: 100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("bilder/bakgrunnfjell.jpg"); */
    /* background-position: center;
    background-size: cover; */
    /* position: relative; */
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 111px;
    height: 112px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: solid;
}

.nav-links ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #01fff2;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%
}

.row h1 {
    color: black;
}

.buffer {
    height: 10rem;
}

.text-uppercase {
    margin-top: 20%;
    font-size: 100px;
}
 
.hoved {
    height: 50vh;
}


.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box>img {
    width: 100%;
}


li {
    padding: 20px;
}

footer {
    background-color: blue;
    grid-column: 1/-1;
    text-align: center;
    display: grid;
}

.zone {
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #01fff2;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul {
        padding: 30px;
    }
}